@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 500 Medium';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    line-height: 4vh;
  }
  .header .btn {
    margin: 0 auto;
  }
  .wrapper-header-par {
    margin-right: 10px;
  }
  .layout-950 .wrapper-header-par .wrapper-header-par__par3 {
    font-size: 26px;
  }
  .layout-950 .wrapper-header-btn {
    padding-bottom: 0;
    margin: 10px 0 0 0;
  }
  .layout-950 .wrapper-header-btn .wrapper-header-btn_button {
    padding: 0 0 10px 0;
    margin-right: 10px;
  }
  body .main-section1 .container__section1 {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-gap: 30px;
  }
  body .main-section2 .pr-9 {
    font-size: 24px;
  }
  body .main-section2 .layout-35 {
    width: 50vw;
  }
  .carusel img {
    width: 100vw;
  }
  .catalog .catalog__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalog .catalog__tabs .catalog__tab {
    margin-bottom: 15px;
  }
  .reviews-info .reviews-info_people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews-info .reviews-info_people .reviews-info_rev {
    margin: 15px 0 0 0;
  }
  footer .footer__info {
    width: 65vw;
  }
  .overinfo .modalwind {
    width: 295px;
  }
  .overinfo .modalwind .modalwind__close {
    top: -27px;
    right: 0%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body .upicon {
    bottom: 165px;
    right: 242px;
  }
}

.layout-950 {
  max-width: 950px;
  margin: 0 auto;
}

.header-section {
  background-size: cover;
  background-position: center;
  background: url("../img/bg1.png") no-repeat;
  padding: 0 5%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

.header .header__middle-column {
  color: #ffffff;
  text-align: center;
}

.header .header__middle-column .header__par1 {
  font-size: 12px;
  font-weight: 400;
}

.header .header__number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header__number-box .header__num {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 5px;
}

.par2 {
  font-size: 18px;
  font-weight: 400;
}

.wrapper-header-par {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 91px;
}

.wrapper-header-par .wrapper-header-par__par3 {
  font-size: 35px;
  font-weight: 400;
  text-align: right;
}

.wrapper-header-par .wrapper-header-par__par4 {
  font-size: 24px;
  font-weight: 400;
  text-align: right;
}

.wrapper-header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper-header-icons .wrapper-header-icons__wrap-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 450px;
}

.wrapper-header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 68px;
  padding-bottom: 53px;
}

.wrapper-header-btn .wrapper-header-btn_button {
  width: 400px;
  text-align: right;
}

.wrapper-header-btn .wrapper-header-btn_button .par-5 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
}

.wrapper-header-btn .wrapper-header-btn_button .par-5 span {
  text-decoration: underline;
  color: #ffffff;
}

.main-section1 {
  padding: 0 0 5% 0;
  background-color: #f6f6f6;
}

.main-section1 .wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section1 .pt69 {
  padding-top: 69px;
}

.main-section1 .par-6 {
  font-weight: 600;
  font-size: 26px;
  color: #0d0d0d;
}

.main-section1 .icons-box {
  width: 60vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-section1 .icons-box img {
  width: 70px;
  height: 70px;
}

.main-section1 .par-7 {
  font-size: 18px;
  font-weight: 600;
  color: #0d0d0d;
}

.main-section1 .par-8 {
  font-weight: 600;
  font-size: 14px;
  color: #0d0d0d;
}

.main-section1 span {
  text-decoration: underline;
  color: #ff0000;
}

.main-section1 .container__section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.main-section2 {
  background-size: cover;
  background-position: center;
  background: url("../img/bg2.png") no-repeat;
  padding-bottom: 10vh;
}

.main-section2 .pr-9 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 85vw;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.main-section2 .layout-35 {
  width: 30vw;
  color: #ffffff;
  margin-bottom: 36px;
}

.main-section2 .layout-section2 {
  margin: 0 auto;
  max-width: 85vw;
}

.form-box {
  width: 230px;
  height: 200px;
}

.feed-form {
  width: 230px;
  height: 200px;
}

.form-control {
  margin-bottom: .8rem;
}

::-webkit-input-placeholder {
  color: #4b4b4b;
  font-weight: 600;
  font-size: 14px;
}

.btn {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  background-color: #c70101;
  border-color: #c70101;
  text-transform: uppercase;
}

.button-big {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  width: 230px;
  height: 40px;
  border-radius: 5px;
  background-color: #c70101;
  border-color: #c70101;
  text-transform: uppercase;
}

.btn-middle {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  width: 131px;
  height: 40px;
  border-radius: 5px;
  background-color: #c70101;
  border-color: #c70101;
  text-transform: uppercase;
}

.upicon {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}

.upicon img {
  width: 60px;
}

.carusel {
  padding: 81px 0;
}

.carusel__inner {
  width: 750px;
  margin: 0 auto;
}

.carusel .carusel__inner {
  position: relative;
}

.carusel img {
  height: auto;
}

.slick-prev {
  background-color: #ffffff;
  border: 0;
  position: absolute;
  left: -10vw;
  top: 30vh;
}

.slick-prev img {
  width: 31px;
  height: 50px;
}

.slick-next {
  background-color: #ffffff;
  border: 0;
  position: absolute;
  top: 30vh;
  right: -10vw;
}

.slick-next img {
  width: 31px;
  height: 50px;
}

.layout-980 {
  width: 980px;
  margin: 0 auto;
}

.catalog-goods {
  padding-bottom: 100px;
}

.catalog-goods .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 69px;
}

.catalog__tabs {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  font-weight: 400;
  -webkit-transform: skewX(-27deg);
          transform: skewX(-27deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  margin-bottom: 60px;
}

.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #c70101;
          box-shadow: 3px 3px 20px #c70101;
  border: none;
}

.catalog__tab div {
  -webkit-transform: skewX(27deg);
          transform: skewX(27deg);
}

.catalog__tab_active {
  background-color: #c70101;
  border: #c70101;
  color: #ffffff;
}

.catalog__cards {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__cards_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  background-color: #ffffff;
  margin: 0 10px;
  margin-bottom: 20px;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
}

.catalog-item_img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.catalog-item_subtext {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 16px 0;
}

.catalog-item_descr {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 0 0 17px 0;
}

.catalog-item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #c70101;
  text-transform: uppercase;
  text-decoration: underline;
  border: 0;
  background-color: white;
  margin: 0 auto;
}

.catalog-item_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #c70101;
  text-transform: uppercase;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
          transform: translateX(calc(-50% - 19px));
  display: block;
  color: #c70101;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

.catalog-item hr {
  width: 260px;
  border-bottom: none;
  background-color: #e8e8e8;
}

.catalog-item .btn-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.catalog-item_prices_old-price {
  color: #555555;
  font-size: 15px;
  font-weight: 600;
  text-decoration: line-through;
  margin-bottom: 8px;
}

.catalog-item_prices_new-price {
  font-size: 14px;
  font-weight: 700;
  font-size: 20px;
}

.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}

.catalog-item__contents {
  width: 50%;
  margin-right: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog-item__contents_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-right: 20px;
}

.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 0px;
  padding-right: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0px;
  list-style-type: none;
}

.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: -10px;
}

.catalog-item__list li {
  position: relative;
  color: #555555;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}

.catalog-item__list li:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #c70101;
  left: -20px;
  top: 7px;
}

.reviews {
  background-size: cover;
  background-position: center;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 70px;
}

.reviews-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 48px;
}

.reviews-info_people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reviews-info_rev {
  width: 70%;
}

hr {
  width: 940px;
  height: 1px;
  background-color: #f6f6f6;
  margin-bottom: 53px;
}

.footer {
  height: 630px;
  position: relative;
}

.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 460px;
  height: 270px;
  background-color: #c70101;
}

.footer__addr {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.footer__tel {
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  margin-top: 25px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  margin-top: 28px;
}

.overinfo {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.56);
  top: 0;
}

.modalwind {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  min-height: 480px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px;
}

.modalwind__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modalwind__discr {
  color: #0d0d0d;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 25px;
}

.modalwind__close {
  position: absolute;
  top: -35px;
  right: -12%;
  color: red;
  font-weight: 600;
  font-size: 50px;
  cursor: pointer;
}

.modalwind_mini {
  min-height: 140px;
}

.modalwind .error {
  border: 1px solid red;
  text-align: center;
  margin-bottom: 15px;
}

.modalwind input.error {
  border: none;
  text-align: center;
}

#consultantwind, #orderwind, #thankswind {
  display: none;
}
/*# sourceMappingURL=style.css.map */